@{
    ViewData["Title"] = "Home Page";
}

<body id="imagenFondo">
    <div class="container">

        <div class="row">

            <div class="col">
                <div>
                    <img src="~/img/logo.png" alt="Logo Saiya Gym" id="logoImgIndex" />
                </div>
            </div>
            <div class="col">
                <br />
                <div>
                    <p id="titleIndex">
                        Bienvenidos al Saiya-Gym
                    </p>
                </div>
                <br />
                <p id="textoCentrado">
                    El Gimnasio SayaGym nace gracias a las necesidades de los usuarios que buscan bajar de peso, localizado en el cantón de Esparza, se busca
                    llegar también a cantones vecinos como partes de San Ramón, San Mateo, Orotina, Puntarenas e incluso de Miramar. La misión de la empresa
                    es brindar un servicio de calidad en un ambiente agradable y ameno donde se puedan ejecutar las rutinas propuestas para que cada uno de
                    los clientes, mejore su salud y estilo de vida.

                </p>
                <br />
                <p id="textoCentrado">
                    Eleva tu nivel con nosotros. Estamos aquí para servirte de lunes a sábado, de 9:00 a.m. a 8:00 p.m., para que puedas disfrutar de todo lo que nuestro gimnasio tiene para ofrecerte.

                    Además, recuerda que puedes crear tus propias rutinas de ejercicio, personalizadas según el tipo de entrenamiento que deseas realizar. Contamos con expertos en fitness que te orientarán y recomendarán lo mejor para ti.

                </p>

            </div>

        </div>

    </div>

</body>