@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="row">

        <div class="col">
            <img src="~/img/logo.png" alt="Logo Saiya Gym" width="400" height="400" />
        </div>
        <div class="col">
            <br />
            <h2>
                Bienvenidos al SaiyaGym
            </h2>
            <br />
            <p>
                Integer a lacinia sem, placerat fringilla enim. Donec id convallis quam. Fusce sodales, mauris eu bibendum tristique, ex
                elit dignissim enim, ac cursus magna felis eu ligula. Ut ligula tellus, luctus a sem et, condimentum cursus nulla. In posuere
                bibendum est tristique interdum. Maecenas pretium eros non ante luctus, eget venenatis nibh convallis. Curabitur eu
                consectetur orci. Aliquam placerat turpis eu ante laoreet imperdiet. Vestibulum id nisl odio. Sed ornare odio nec eros
                efficitur, id malesuada ante vulputate. Mauris cursus, sapien non lacinia mattis, arcu justo rhoncus massa, a laoreet
                mauris eros sit amet turpis. Cras lacus ligula, fringilla quis volutpat ac, gravida at tellus. Etiam semper mi non eros
                gravida lobortis. Donec imperdiet mauris eu molestie vulputate.

            </p>
            <br />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra nisi diam, a sollicitudin ipsum vestibulum sit
                amet. Pellentesque lacinia neque risus, eu aliquet erat semper ut. Nulla orci nunc, imperdiet vitae augue et, lacinia
                faucibus arcu. Aliquam sit amet feugiat odio. Aenean elementum eget odio eget ullamcorper. Nullam tellus urna, hendrerit non
                nibh vitae, facilisis ullamcorper diam. Praesent finibus imperdiet lacus sit amet ornare. Vivamus finibus dui sed erat
                vehicula efficitur. Cras venenatis mollis tortor ut malesuada. Nunc vitae finibus neque, a lobortis est. Quisque cursus
                magna id nulla volutpat, sit amet luctus metus iaculis

            </p>


        </div>

    </div>

</div>