@{
    ViewData["Title"] = "Home Page";
}

<body id="imagenFondo">
    <div class="container">

        <div class="row">

            <div class="col">
                <div>
                    <img src="~/img/logo.png" alt="Logo Saiya Gym" id="logoImgIndex" />
                </div>
            </div>
            <div class="col">
                <br />
                <div>
                    <p id="titleIndex">
                        Bienvenidos al Saiya-Gym
                    </p>
                </div>
                <br />
                <p id="textoCentrado">
                    El Gimnasio SayaGym nace gracias a las necesidades de los usuarios que buscan bajar de peso, localizado en el cantón de Esparza, se busca
                    llegar también a cantones vecinos como partes de San Ramón, San Mateo, Orotina, Puntarenas e incluso de Miramar. La misión de la empresa
                    es brindar un servicio de calidad en un ambiente agradable y ameno donde se puedan ejecutar las rutinas propuestas para que cada uno de
                    los clientes, mejore su salud y estilo de vida.

                </p>
                <br />
                <p id="textoCentrado">
                    Eleva el nivel que tiene con nosotros, estamos para servirle de lunes a sabado de 9am a 8pm para que pueda disfrutar de todo lo que el
                    gimnasio tiene para ofrecerle. Ademas recuerde que puede crear sus rutinas ye stas iran segunnle tipo de ejercicio que desea realizar.
                    Para ello estan nuestros expertos en fitness quienes diran que es lo mejor para usted.

                </p>

            </div>

        </div>

    </div>

</body>