html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: "Saiyan";
    src: url("../fonts/Saiyan-Sans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3{
    font-family:Saiyan
}
@media print{
    .noprint, header, footer{
        display:none;
    }

    a{
        text-decoration:none!important;
        color:black!important;
    }

    #divRutina{
        width:100%;
    }

}