@model SayaGym.Models.Rutina
@{
    int CantidadEjerciciosPorDias = Model.EjerciciosRutina.Where(e => e.DiaEjercicio == 1).Count();
}
<div class="table-responsive">
    <table class="table table-striped-columns">
        <thead>
            @for (int i = 1; i < 5; i++) {
                <th>
                    Dia @i
                </th>
            }
        </thead>
        @for (int i = 0; i < CantidadEjerciciosPorDias; i++)
        {
            <tr>
                @for (int dia = 1; dia < 5; dia++)
                {
                    var EjercicioRutina = Model.EjerciciosRutina.Where(e => e.DiaEjercicio == dia).ToList()[i];
                    <td>@EjercicioRutina.Ejercicio.Nombre</td>
                }
            </tr>
        }
    </table>
</div>

